.assideCard {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    right: 3vw;
    bottom: 3vw;
    width: 14vw;
    height: 22.5vh;
    cursor: pointer;
    &__svg {
        position: relative;
        z-index: 2;
        transform: translateX(250%);
        transition: transform 0.6s ease-in-out;
        path {
            stroke: $font-color;
        }
    }
    &__img {
        position: relative;
        width: 75%;
        height: 100%;
        border-radius: 0.2rem;
        transform: translateX(150%);
        transform-origin: right;
        transition: transform 0.6s ease-in-out;
    }
    &:hover > &__img,
    &:hover > &__svg {
        transform: translateX(0);
    }
}
