.carousel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    gap: 2rem;
    overflow: hidden;
}