.dotSlider{
    position: absolute;
    bottom: 5vh;
    left: 50%;
    z-index: 10;
    display: flex;
    height: 2rem;
    width: fit-content;
    gap: 1rem;
    justify-content: center;
    transform: translateX(-50%);
    &--relative{
        position: relative;
        display: flex;
        height: fit-content;
        width: fit-content;
        gap: 1rem;
        justify-content: center;
    }
    &__dot{
        position: relative;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid $font-color;
        background: transparent;
        cursor: pointer;
        transition: background-color .6s ease-in-out, opacity .8s ease-in-out;
        &:hover{
            background-color: $font-color;
            opacity: .8;
        }
        &--active{
            cursor: none;
            pointer-events: none;
            background-color: $font-color;
        }
    }
}